.sctable-header-scroll-view{background-color:gray;}.sctable-header-view div{position:absolute;overflow:hidden;}
body.sc-theme .sc-view.sc-gray-border{border:0 none;}.sctable-column-header-view{border-left:0;border-bottom:0;border-top:0;border-right:1px solid black;}
.sctable-column-header-view .col-name{top:0;left:0;bottom:0;right:0;margin-top:4px;margin-left:3px;}
.sctable-column-header-view .resize-handle{top:0;right:0;bottom:0;width:8px;cursor:col-resize;}
.sctable-column-header-view .sort-indicator{top:6px;right:6px;width:16px;height:16px;}
.sctable-column-header-view .sort-indicator.asc{background-color:green;}.sctable-column-header-view .sort-indicator.desc{background-color:red;}
.sctable-column-header-view.hover{background-color:#aaa;}.sctable-row-view div{position:absolute;overflow:hidden;}
.sctable-row-view{border-left:0;border-right:0;border-top:0;border-bottom:1px solid #ccc;}
.sctable-row-view .cell{margin-top:3px;margin-left:3px;}.sctable-row-view .col-sel{background-color:#ddd;}
.sctable-row-view.hover{background-color:#ddd;}